.header{
    background-color: #ddd;
    padding: 50px;
}
.img-logo{
    height: 32px;
}
.logoinfo{
    font-size: 25px;
}
.section-card{
    background-color: #ddd;
    
}
.cardDesc p{
    font-size: 14px;
    height: 147px;
}